<html>
<head>
	<title>ACME Pet Store Inventory</title>
	<link rel="stylesheet" type="text/css" href="css/petstore.css">
	
	<script src="js/jquery.min.js"></script>
	<script src="js/angular.min.js"></script>
	
	<script type="text/javascript">
		var app = angular.module("petApp", []);
		
		app.controller("PetCtrl", function($scope, $http) {
			$scope.statuses = ['Available', 'Pending', 'Sold'];
			
			$scope.clear = function() {
				$('.search .error').hide();
				$("[class*='rselect']").removeClass('rselect');
			}
			
			$scope.get = function() {
				$scope.clear();
				
				$http({
					method: 'GET',
					url: 'get'
				}).success(function(data) {
					$scope.pets = JSON.parse(data.value);
				});
			}
			
			$scope.add = function() {
				$scope.clear();
				
				$http({
					method: 'POST',
					url: 'add',
					headers: {'Content-Type': 'application/x-www-form-urlencoded'},
					data: 'name=' + $scope.pet.name + '&photo=' + $scope.pet.photo + '&status=' + $scope.pet.status
				}).success(function(data) {
					$scope.get();
					
					//clear entries
					$scope.pet.name = '';
					$scope.pet.photo = '';
					$scope.pet.status = $scope.statuses[0];
					
					//scroll
					$('.rbody').scrollTop($('.rbody tr:last').position().top, 1);
				});
			}
			
			$scope.delete = function(id) {
				$scope.clear();
				
				$http({
					method: 'DELETE',
					url: 'delete/' + id
				}).success(function(data) {
					$scope.get();
				});
			}
			
			$scope.find = function() {
				$scope.clear();
								
				$http({
					method: 'GET',
					url: 'get/' + $scope.pet.id
				}).success(function(data) {
					if (data.status == 'failure') {
						$('.search .error').text(data.message);
						$('.search .error').show();
						return;
					}
					
					var row = $('.rbody #r' + $scope.pet.id);
					row.addClass('rselect');
					row.get(0).scrollIntoView();
				});
			}
		});
	</script>
	
</head>

<body ng-app="petApp" ng-controller="PetCtrl" data-ng-init="get()">

<div class="main">
	
	<span class="header">ACME Pet Store Inventory</span>
	
	<div class="left">
		<div class="entry">
			
			<form name="entryForm" ng-submit="add()">
				<div class="field">
					<span class="label">Name</span>
					<input type="text" ng-model='pet.name' class="text" required>
				</div>
				
				<div class="field">
					<span class="label">Photo</span>
					<input type="text" ng-model='pet.photo' class="text" required>
				</div>
				
				<div class="field">
					<span class="label">Status</span>
					<select ng-model="pet.status" ng-options="values for values in statuses" ng-init="pet.status=statuses[0]" class="select">
					</select>
				</div>
				
				<div class="field">
					<input type="submit" value="Add" class="badd">
				</div>
			</form>
			
		</div>
		
		<p>
		
		<div class="search">
			<form name="searchForm" ng-submit="find()">
				<div class="field">
					<span class="label">ID</span>
					<input type="number" ng-model='pet.id' class="text" required>
				</div>
				
				<div class="field">
					<span class="error"></span>
					<input type="submit" value="Search" class="bsearch">
				</div>
			</form>
		</div>
	</div>
	
	<div class="right">
		<div class="report">
			<div class="rheader">
				<table>
					<tr>
						<td class="rid">ID</td>
						<td class="rname">Name</td>
						<td class="rphoto">Photo</td>
						<td class="rstatus">Status</td>
						<td class="rdelete"></td>
						<td class="rscroll"></td>
					</tr>
				</table>
			</div>
			
			<div class="rbody">
				<table>
					<tr id="r{{pet.id}} " ng-repeat="pet in pets track by $index" ng-class-odd="'odd'" ng-class-even="'even'">
						<td class="rid">{{pet.id}}</td>
						<td class="rname">{{pet.name}}</td>
						<td class="rphoto">{{pet.photo}}</td>
						<td class="rstatus">{{pet.status}}</td>
						<td class="rdelete"><a href="" ng-click="delete(pet.id)"><img src="images/erase.png" width="12" height="12" alt="Remove" /></a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</div>
    
</body>

</html>
