<html>
<head>
	<title>Swagger Petstore</title>
	<link rel="stylesheet" type="text/css" href="css/petstore.css">
	
	<script src="js/jquery.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/petstore.js"></script>
	
</head>

<body ng-app="petApp" ng-controller="PetCtrl" data-ng-init="init()">

<div class="main">
	
	<div>
		<span class="header">Swagger Petstore</span>
		<span class="logout">
			<a href="" ng-click="refresh()" target="_self" title="log out"><img src="images/refresh.png" width="20" height="20" title="refresh" /></a>
			<a href="" ng-click="logout()" target="_self" title="log out"><img src="images/exit.png" width="20" height="20" title="log out {{user}}" /></a>
		</span>
	</div>
	
	<div class="left">
		<div class="entry">
			
			<form name="entryForm" ng-submit="create()">
				<div class="field">
					<span class="label">Name</span>
					<input type="text" ng-model='pet.name' class="text" required>
				</div>
				
				<div class="field">
					<span class="label">Photo</span>
					<input type="text" ng-model='pet.photo' class="text" required>
				</div>
				
				<div class="field">
					<span class="label">Status</span>
					<select ng-model="pet.status" ng-options="values for values in statuses" ng-init="pet.status=statuses[0]" class="select">
					</select>
				</div>
				
				<div class="field">
					<span class="error"></span>
					<input type="submit" value="Add" title="Add" class="badd">
				</div>
			</form>
			
		</div>
		
		<p>
		
		<div class="search">
			<form name="searchForm" ng-submit="find()">
				<div class="field">
					<span class="label">ID</span>
					<input type="number" ng-model='pet.id' class="text" required>
				</div>
				
				<div class="field">
					<span class="error"></span>
					<input type="submit" value="Search" title="Search" class="bsearch">
				</div>
			</form>
		</div>
	</div>
	
	<div class="right">
		<div class="report">
			<div class="rheader">
				<table>
					<tr>
						<td class="rid">ID</td>
						<td class="rname">Name</td>
						<td class="rphoto">Photo</td>
						<td class="rstatus">Status</td>
						<td class="rdelete" style="display: none;"><img src="images/stop.png" width="16" height="16" /></td>
						<td class="rscroll"></td>
					</tr>
				</table>
			</div>
			
			<div class="rbody">
				<table>
					<tr id="r{{pet.id}} " ng-repeat="pet in pets track by $index" ng-class-odd="'odd'" ng-class-even="'even'">
						<td class="rid">{{pet.id}}</td>
						<td class="rname">{{pet.name}}</td>
						<td class="rphoto">{{pet.photo}}</td>
						<td class="rstatus">{{pet.status}}</td>
						<td class="rdelete"><a href="" ng-click="delete(pet.id)"><img src="images/erase.png" width="12" height="12" title="Delete" /></a></td>
					</tr>
					<tr id="rlast">
						<td class="rid"></td>
						<td class="rname"></td>
						<td class="rphoto"></td>
						<td class="rstatus"></td>
						<td class="rdelete"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</div>
    
</body>

</html>
